*{
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

#perfil__home{
    background-color: salmon;
    height: 110vh;
}

#tecnologia{
    background-color: khaki;
    height: 110vh;
}

#contacto{
    background-color:sandybrown;
    height: 110vh;
}

header{
    background-color: #ccc;
    padding: 30px;
    height: 4.2rem;
    overflow: hidden;
    position: relative;
    transition: height .4s ease;
}
.headerAmpliado{
    background-color: #ccc;
    padding: 30px;
    height: 7rem;
    overflow: hidden;
    position: relative;

}
.header__titulo{
    margin: 0 0 1rem;
}
.header__subtitulo{
    margin: 0 0 1rem;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.7rem;
}
.header__nav a{
    color: #444;
    font-size: 1.2rem;
    font-weight: 900;
    transition: font-size .2s ease;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav__btn {
    position: absolute;
    right: 1rem;
    top:1rem;
    border:1px solid black;
    padding: .5rem;
    cursor: pointer;
    

}

.header__nav a:hover{
    color: white;
    font-size:1.3rem;
}

.perfil__figure{
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    left: calc(50% - 150px);
    top: 20px;

}

.perfil__figure figcaption{
    text-align: center;
    opacity: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 80px;
    font-size: 2rem;
    position: absolute;
    top: calc(75% - 40px);
    transition: opacity .5s ease;
}

.perfil__figure:hover figcaption{
    opacity: 0.8;
    background-color: rgb(37, 37, 121);
    color: white;
    height: 300px;
    left: calc(50% - 150px);

}

.perfil__figure img{
    width: 22rem;
    height: 24rem;
    background-size: contain;
    overflow: hidden;
    
    
}

.home__sobreMi, .home__sobreMi :first-child {
    margin:1rem;
    padding-top: 1rem;
}

.home__sobreMi p{
    padding: 0.5rem;
}
